.navbar {
    background-color: #0dcaf0;
}
.card-text {
    font-size: 0.9rem;
    color: #555555;
    line-height: 1.5;
    font-style: italic;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.card img {
    height: 200px;
    object-fit: cover;
}


